
html {
  background-color:hsl(0, 0%, 80%);
  background-image: url("../images/back.png");
  height: 100vh;
}

.menu {

  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #777777; 
  width: 100%;
  height: 100px;
  position: relative;
  top: 0;
  padding: 25px 40px 30px 10px; 
  
}

.name  {
  float: left;
  width: 200px;
  height: 69px;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  font-size:22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  right: -200px;
  bottom: -60px;
  font-weight:bold;
  }

.menulinks {
  float: left;
  position: relative;
  left: 825px;
  bottom: -75px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.container {
  margin-top: 200px;
  margin-left: 200px;
  width: 960px;
  height: 700px;
  background-color: white;
  padding-left: 50px;
  padding-right: 70px;
  margin-bottom: 400px;
  
  }


h1{
  padding-top: 50px;  
  color: #4aaaa5;
    position: relative;
    top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight:bold;
}

img {
    
    float:left;
    margin-right: 30px; 
    margin-bottom: 5px;
    margin-top: 50px;
    width: 200px;
    height:200px;
}

.para {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    padding-top: 50px;
    line-height: 2;
}

.break {
  height: 2px;
  width: 950px;
  background-color: gray;
   
}


.footer {
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #666666;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; 
  padding: 10px 10px 30px 20px;
  border-top: 8px solid #4aaaa5
}

/* MEDIA QUERIES */


/* 640px WIDTH */
@media only screen and (max-width: 640px) {
  
  html{
  width: 640px;

  }

  body {
    width: 640px;
    background-color: blue;
  }
  .name {
  float:top;
  padding-top: 0;
  margin-top: 0;
  width: 640px;
  margin-top: -90px;
  margin-bottom: 50px;
  margin-left:-210px;
  }

  .menu {
    width: 640px;
  
  }
  .menulinks {
    widows: 640px;
    position: static;
    position: center;
    padding-top: 50px;
    padding-left: 160px;
 
    }

  .container {
    width: 500px;
    height: 1200px;  
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 150px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 200px;
  }

  .para {
  font-size: 15px;
  width: 450px;
  }

  .break {
    width: 450px;
  }

  img {
    width: 450px;
    height:450px;
    padding-bottom: 20px;

  }
  
.footer {
  width: 640px;
  text-align: center; 
  position:bottom;
  margin-left: 40px;
  }

}


/*768 px WIDTH */
@media only screen and  (min-width: 641px) and (max-width: 768px){
  
  html{
  width: 768px;

  }
  body {
    width: 768px;
    background-color: green;
  }
  .name {
    position: static; 
    position: top;
    Margin-left: 50px;
  }

  .menu {
    height:40PX;

  }

  .menulinks {
    widows: 768px;
    position: static;
    position: right;
    padding-top: 20px;
   
     }

  .container {
    width: 750px;
    height: 650px;  
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 150px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 200px;
  }

  .para {
  font-size: 15px;
  width: 700px;
  }

  .break {
    width: 700px;

  }

  img {
    width: 200px;
    height:200px;
    padding-bottom: 20px;

  }


.footer {
  width: 980px;
  text-align: center; 
  padding: 0px;
  padding-bottom: 20px;
  position:bottom;
  }

}

/*980 px WIDTH */
@media only screen and (min-width: 769px) and (max-width: 980px) {
  
  html{
  width: 980px;

  }
  
  body {
    width: 980px;
    background-color: red;
  }
  .name {
    position: static; 
    position: top;
    Margin-left: 50px;
  }

  .menu {
    height:40PX;

  }

  .menulinks {
    widows: 640px;
    position: static;
    position: right;
    margin-left: 400px;
    padding-top: 20px;
   
     }

  .container {
    width: 750px;
    height: 650px;  
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 150px;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 200px;
  }

  .para {
  font-size: 15px;
  width: 700px;
  }

  .break {
    width: 700px;

  }

  img {
    width: 200px;
    height:200px;
    padding-bottom: 20px;

  }


.footer {
  width: 980px;
  text-align: center; 
  padding: 0px;
  padding-bottom: 20px;
  position:bottom;
  }

}
